element {
    --header-height: 75px;
}

body {
    margin: 0px;
    background-color: azure;
}

header {
    height: 75px;
    background-color: darkslategray;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}

img {
    border-radius: 50%;
    width: 50px;
}

.column {
    float: left;
}

.personal {
    width: 25%;
}

.profile section:first-child {
    text-align: center;
    border-bottom: 2px rgba(0,0,0,0.3) groove;
}

.profile section:last-child {
    > ul {
        > li {
            margin: 10px;
            text-indent: 20px;
        }
        > li::marker {
            font-family: 'FontAwesome';
            color: black;
        }
        > li:nth-child(1)::marker {
            content: '\f0b1';
        }
        > li:nth-child(2)::marker {
            content: '\f276';
        }
        > li:nth-child(3)::marker {
            content: '\f1fd';
        }
    } 
}

.highlights {
    max-width: 30%;
    margin: 0px auto;
    padding: 0px 50px 0px 25px;
    border: 2px rgba(0,0,0,0.3) groove;
    background-color: rgba(0, 62, 121, 0.4);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);

    .profile-points ul {
        > li {
            text-indent: 20px;
            padding-bottom: 15px;
        }
        > li a {
            text-decoration: none;
            color: white;
        }
        > li a:hover {
            color: orange;
        }
        > li::marker {
            font-family: 'FontAwesome';
            color: white;
        }
        > li:nth-child(1)::marker {
            content: '\f183';
        }
        > li:nth-child(2)::marker {
            content: '\f073';
        }
        > li:nth-child(3)::marker {
            content: '\f03e';
        }
    }
}

.profile, .interests, .friends {
    margin: 25px;
    border: 2px rgba(0,0,0,0.3) groove;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-color: aliceblue;
}

.interests section ul {
    padding: 0px;
    > li {
        margin: 5px;
        padding: 5px;
        border: 2px rgba(47, 79, 79, 0.4) solid;
        color: white;
        background-color: rgba(0, 62, 121, 0.4);
        display: inline-block;
    }
}

.posts {
    width: 45%;
}

.new-post, .post {
    margin: 25px;
    border: 2px rgba(0,0,0,0.3) groove;
    padding: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-color: aliceblue;
}

/* Top left of nav bar */
nav span:first-child {
    padding-left: 20px;
    position: absolute;
    transform: translateY(100%);
}

nav span:first-child a {
    width: 25px;
    height: var(--header-height);
    padding-left: 25px;
    padding-right: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

nav span:first-child a:hover {
    color: aqua;
}

/* Top right of nav bar */
nav span:last-child {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

nav span:last-child img:hover {
    border: 1px aqua solid;
}

footer {

}