element {
    --header-height: 75px;
}

body {
    margin: 0px;
    background-color: azure;
}

header {
    height: 75px;
    background-color: darkslategray;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
}

img {
    border-radius: 50%;
    width: 50px;
}

.column {
    float: left;
}

.personal {
    width: 33%;
}

.profile section:first-child {
    text-align: center;
    border-bottom: 2px rgba(0,0,0,0.3) groove;
}

.profile section:last-child {
    > ul {
        list-style-type: none;
        > li:nth-child(1):before {
            margin: 0px 15px 0px -15px;
            font-family: 'FontAwesome';
            content: '\f0b1';
            color: black;
        }
        > li:nth-child(2):before {
            margin: 0px 15px 0px -15px;
            font-family: 'FontAwesome';
            content: '\f0b1';
            color: black;
        }
    } 
}

.posts {
    width: 45%;
}

.new-post, .post {
    margin: 25px;
    border: 2px rgba(0,0,0,0.3) groove;
    padding: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.profile, .highlights, .interests, .friends {
    margin: 25px;
    border: 2px rgba(0,0,0,0.3) groove;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

/* Top left of nav bar */
nav span:first-child {
    padding-left: 20px;
    position: absolute;
    transform: translateY(100%);
}

nav span:first-child a {
    width: 25px;
    height: var(--header-height);
    padding-left: 25px;
    padding-right: 10px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

nav span:first-child a:hover {
    color: aqua;
}

/* Top right of nav bar */
nav span:last-child {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

nav span:last-child img:hover {
    border: 1px aqua solid;
}

footer {

}